* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0e0e0e;
  color: #f8f5f0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}
/*========================================/
/*=====Navigation, Heading and body======*/
/*=======================================*/

h1 {
  font-family: sans-serif;
}
.top-nav {
  height: 5rem;
  background-color: #1c1c1c;
  align-items: center;
  flex-shrink: 0;
}

.navigation {
  height: 5rem;
  transform: translateY(-12px);
  width: 100%;
}

.hero-title-tag {
  text-align: center;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.tagline {
  font-size: larger;
}

.title {
  cursor: pointer;
}

main {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

.main-container {
  margin-top: 3rem;
}

.home {
  display: flex;
  gap: 19rem;
  margin-top: 17px;
  height: 5rem;
}

.image-nav {
  display: flex;
  gap: 1rem;
  margin-left: 19rem;
}

.home-image-icon,
.contact-image-icon,
.music-image-icon,
.info-image-icon {
  margin-top: 10px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
}

.title {
  font-size: 1.1rem;
  margin-left: 2rem;
  padding: 1rem;
  font-weight: 900;
  text-transform: uppercase;
  transform: translateY(7.9px);
}

.nav-links {
  display: flex;
  gap: 4rem;
  padding: 1rem;
  border-radius: 38px;
  align-items: center;
  justify-content: center;
}

.nav-links a {
  color: #f8f5f0;
  font-size: 1.1rem;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  background-color: transparent;
  padding: 3px;
  border-radius: 10px;
  border-bottom: 5px solid transparent;
}

.nav-links a:hover {
  border-bottom: 5px solid #3b1c65;
  transition: background-color 0.2s ease;
}

.nav-links a.active {
  font-weight: bold;
  border-bottom: 5px solid #3b1c65;
}

.introduction {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-top: 2rem;
}

.hero-image {
  height: 400px;
  width: 420px;
  margin-left: 5rem;
  border-radius: 700px;
  object-fit: cover;
}

.intro-paragraph {
  margin-top: 5rem;
  padding: 0.1rem;
  height: 50%;
  width: 50%;
  font-size: large;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.extra-info {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
  font-size: larger;
  text-align: center;
  transform: translateY(-90px);
}

.extra-info a {
  color: white;
}

.extra-info a:hover {
  color: #ffff00;
}

.footer {
  text-align: center;
  margin-top: auto;
  transform: translateY(30px);
  margin-bottom: 20px;
}
