* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0e0e0e;
  color: #f8f5f0;
  display: grid;
  min-height: 100vh;
}

main {
  margin-top: 50px;
  text-align: center;
}

.page-heading {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.first-tagline,
.second-tagline,
.artist-decription,
.album-description {
  font-size: larger;
}

.favourite-artists-section {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

.artist-card,
.album-card,
.music-cover-card {
  padding: 1rem;
  background-color: #1c1c1c;
  width: 200px;
  margin: 0 auto;
  border-radius: 12px;
}

.artist-image,
.album-cover,
.timeline-song-cover {
  width: 100%;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
}

.artist-image:hover {
  border: 2px solid rgb(144, 141, 141);
}

.album-cover:hover {
  border: 2px solid rgb(144, 141, 141);
}

.timeline-song-cover:hover {
  border: 2px solid rgb(144, 141, 141);
}

.artists-cards-container,
.album-card-container,
.music-influence-timeline-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.albums-section {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.music-influence-timeline {
  margin-top: 50px;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  justify-content: center;
}

.music-cover {
  margin-top: 20px;
}

.timeline-song-cover {
  margin-top: 12px;
}

.music-cover-card {
  margin-top: 2rem;
}
