* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0e0e0e;
  color: #f8f5f0;
  display: grid;
  /* height: 100vh; */
  min-height: 100vh;
}
/*========================================/
/*=====Navigation, Heading and body======*/
/*=======================================*/

#navigation {
  display: flex;
  gap: 40px;

  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  background-image: url("../Images/texture.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title-tag {
  text-align: center;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.title {
  cursor: pointer;
}

.home {
  display: flex;
  gap: 19rem;
  margin-top: 12px;
}

.image-nav {
  display: flex;
  gap: 1rem;
  margin-left: 19rem;
}

.home-image-icon {
  margin-top: 10px;
}

.title {
  font-size: 1.2rem;
  margin-left: 2rem;
  background-color: #2c2c2c;
  padding: 1rem;
  border-radius: 38px;
}

.nav-links {
  display: flex;
  gap: 4rem;
  /* background-color: #2c2c2c73; */
  padding: 1rem;
  border-radius: 38px;
  align-items: center;
  justify-content: center;
}

.nav-links a {
  color: black;
  font-size: 1.1rem;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  background-color: transparent;
  padding: 3px;
  border-radius: 10px;
}

.nav-links a:hover {
  background-color: #707070cd;
  color: #3b1c65;
  transition: background-color 0.2s ease;
}

.introduction {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-top: 2rem;
}

.hero-image {
  height: 250px;
  width: 420px;
  margin-left: 5rem;
  border-radius: 8px;
}

.intro-paragraph {
  /* margin-top: 5rem; */
  padding: 0.1rem;

  height: 50%;
  width: 50%;
  font-size: large;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.extra-info {
  margin-left: 5rem;
  margin-top: 2rem;
  font-size: larger;
}

.extra-info a {
  color: white;
  /* text-decoration: none; */
}

.extra-info a:hover {
  color: #ffff00;
}

.footer {
  text-align: center;
  background-color: #1c1c1c;
  padding: 0.5rem;
  margin-top: auto;
}

/*=====================================*/
/*==Contact Form Page Section==========*/
/*=====================================*/

.contact-image-icon {
  margin-top: 10px;
}

p,
.contact-heading {
  text-align: center;
}

.contact-paragraph,
.closure {
  font-size: 19px;
}

#contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.contact-heading {
  transform: translateY(-40px);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2.5rem;
}

h2 {
  margin-bottom: 1rem;
}

#contact-section {
  transform: translateY(-17px);
  background-color: #2c2c2c;
  width: 15rem;
  margin: 0 auto;
  padding: 20px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#input-name,
#input-email,
#input-message {
  border: none;
  border-radius: 8px;
  min-height: 40px;
  padding: 10px;
  width: 400px;
  font-size: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

textarea {
  width: 200px;
  height: 80px;
  resize: none;
}

button[type="submit"] {
  align-self: center;
  padding: 10px;
  cursor: pointer;
  width: 120px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
}

button[type="submit"]:hover {
  background-color: #8d8c8c;
  transition: background-color 0.2s ease;
}
